
body {
    margin: 0;
    background-color: #F0F0F0;
    background-image: url('/images/books-1655783_1920.jpg');
    padding: 5rem;
}
#root {
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        font-family: Sans-serif, Arial, Helvetica;
        background-color: #BCAAA4;
        border-radius: 12px;
        header {
        h1 {
            margin: 2rem auto 4rem auto;
            &:hover {
                cursor: pointer;
            }
        }

    }
nav {
    display: flex;
    justify-content: center;
    p {
        flex: 1;
        margin: 0;
    }
    input {
        margin: 0.3rem;
        border: 1px solid;
        border-radius: 6px;
        padding: 0.2rem;
    }
    button {
        border: 1px solid black;
        padding: 0.2rem;
        border-radius: 6px;
        background-color: #9E9E9E;
        color: black;
        &:hover {
            cursor: pointer;
            color: white;
            background-color: #616161;
        }
    }
}
main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            h2{
                width: 100%;
            }
            article {
                width: 15rem;
                border: 1px ;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
                border-radius: 6px;
                padding: 1rem;
                margin: 3rem;
                background-color: #D7CCC8;
                img {
                    border-radius: 6px;
                }
                a {
                text-decoration: none;
                color: white;
                border: 1px solid black;
                border-radius: 8px;
                background-color: rgb(15, 15, 70);
                padding: 0.4rem;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(136, 143, 247);
                    color: black;
                }
                }
            }
            button {
                width: 20%;
                justify-content: space-around;
                margin: auto 5rem;
                border: 1px solid black;
                padding: 0.2rem;
                border-radius: 6px;
                background-color: #9E9E9E;
                color: black;
                &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: #616161;
                }
            }
            #pageTotal {
                width: 100%;
            }
    }
}

